<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

    

    <!-- Chassis dimensions -->
    <xacro:property name="chassis_L" value="0.275"/>
    <xacro:property name="chassis_W" value="0.15"/>
    <xacro:property name="chassis_H" value="0.1"/>

    <!-- Wheel params -->
    <xacro:property name="wheel_radius" value="0.037"/>
    <!-- 74mm diameter -->
    <xacro:property name="wheel_width" value="0.02"/>
    <!-- 20mm thick -->

    <!-- Caster wheel params -->
    <xacro:property name="caster_radius" value="0.02"/>
    
</robot>